.roboto-thin, .roboto-light, .roboto-regular, .roboto-medium, .roboto-bold, .roboto-black {
  font-family: "Roboto", sans-serif;
  font-display: swap;
}

.roboto-thin { font-weight: 200; }
.roboto-light { font-weight: 300; }
.roboto-regular { font-weight: 400; }
.roboto-medium { font-weight: 500; }
.roboto-bold { font-weight: 700; }
.roboto-black { font-weight: 900; }

.roboto-thin-italic, .roboto-light-italic, .roboto-regular-italic, .roboto-medium-italic, .roboto-bold-italic, .roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: inherit; /* Inherit weight from non-italic classes */
  font-style: italic;
  font-display: swap;
}
